.login-container {
  margin: auto;
  background-color: #3b5998;
  border: solid 1px #3b59FF;
  border-radius: 5px;
  margin-top: 50px;
  padding: 70px 10px;
  box-sizing: border-box;
}

.login-container > .login-field {
  padding-top:5px;
  padding-bottom: 5px;
  color: white;
}

.login-container > .login-field > .login-field-title {
  display: inline-block;
  font-weight: bold;
}
.login-container > .login-field > .line-through > span:before,
.login-container > .login-field > .line-through > span:after, {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  border-top: 4px double red;
}

.login-button {
  padding: 10px;
  background-color: #8b9dc3;
  color: white;
  border: solid 1px #8b9dc3;
  border-radius: 2px;
  vertical-align: middle;
}

input[type='text'] {
  padding: 5px;
  border-radius: 2px;
  border: solid 1px #3b59FF;
  width: 100%;
  box-sizing: border-box;
}

input[type='password'] {
  padding: 5px;
  border-radius: 2px;
  border: solid 1px #3b59FF;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width:700px) {
  .login-container {
    margin-top: 30px;
  }
}
